<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h2>Employee List</h2>
    <ul>
        {% for employee in employees %}
            <li>
                {{ employee.name }} - {{ employee.department }} - {{ employee.salary }} - {{ employee.mobile }}
                {% if user.is_superuser %}  <!-- Show delete link only to admins -->
                <a href="{% url 'delete_employee' employee.id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    {% if user.is_superuser %}  <!-- Show add employee link only to admins -->
    <a href="{% url 'add_employee' %}">Add New Employee</a>
    {% endif %}
</body>
</html>
